/***CSS variables***/
:root {
    --background-color: #fff;
    --text-color: #000000;
    --accessibility-bg-color: #fff;
    --accessibility-bg-color-hover: #FAFBF5;
    --accessibility-color-focus: #b22222;
    --accessibility-border-color: #aaa;
    --theme-btn-bg-color: #444444;
    --menu-hover-bg-color: #FAFBF5;
    --theme-color-focus: #b22222;
    --theme-icon-color: #fff;
    --link-color: blue;
}

.dark-mode {
    --background-color: #333333;
    --text-color: #fff;
    --accessibility-bg-color: #333333;
    --accessibility-bg-color-hover: #444444;
    --accessibility-color-focus: #b22222;
    --theme-btn-bg-color: #fff;
    --menu-hover-bg-color: #555555;
    --theme-color-focus: #b22222;
    --theme-icon-color: #444444;
    --link-color: powderblue;
}


/***Smooth scroll***/

html {
    scroll-behavior: smooth;
}

body {
    font-family: Tahoma, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: all .3s ease;
}

nav {
    display: flex;
    padding: 1em;
}


/***Dropdown menu***/

.dropdown-menu {
    position: relative;
    display: inline-block;
}

.drop-link {
    padding: 0 5px;
    text-decoration: none;
    color: #000000;
}

/*Le contenu du dropdown est caché par défaut*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--accessibility-bg-color);
    border: 1px solid var(--accessibility-border-color);
    border-radius: 5px;
    margin-top: 5px;
}

.dropdown-content a {
    display: block;
    color: var(--text-color);
    padding: 1em 2em;
    text-decoration: none;
    min-width: 15em;
    transition: none;
}

.dropdown-content a:hover {
    border-radius: 5px;
    background-color: var(--menu-hover-bg-color);
}

.dropdown-content a:focus {
    border-radius: 5px;
    color: var(--accessibility-color-focus);
}

.dropdown-menu:hover .dropdown-content {
    display: block;
}

.dropdown-content a::before {
    font-family: "Font Awesome 5 Free";
    padding-right: 10px;
    vertical-align: middle;
    font-weight: 900;
    color: var(--text-color);
    font-size: 18px;
}

.dropdown-content a:first-child::before {
    content: "\f00e";
}

.dropdown-content a:nth-child(2)::before {
    content: "\f010";
}

.dropdown-content a:nth-child(3)::before {
    content: "\f042";
}

.dropdown-content a:last-child::before {
    content: "\f021";
}

.fa-universal-access {
    color: firebrick;
    text-decoration: none;
    font-size: 3.5rem;
}

article {
    width: 85%;
    margin: auto;
    transition: all .3s ease;
}

#firstPar {
    margin-top: 3em;
}

section article>p {
    margin-bottom: 2em;
}

p a {
    color: var(--link-color);
}

.choose-language {
    display: flex;
    justify-content: flex-start;
}

select {
    padding: 8px;
    margin: 15px 0 2em 1.5em;
    font-size: 16px;
}


/*** RESPONSIVE DESIGN ***/
/* 0px – 639px (Mobile) */
@media (min-width: 0px) and (max-width: 639px) {

    nav {
        justify-content: flex-end;
        padding: 1em 0 0 1em;
    }

    .dropdown-content {
        right: 5px;
    }

    .dropdown-content {
        font-size: 18px;
    }

    .dropdown-content a::before {
        padding-right: 18px;
        font-size: 20px;
    }

    .fa-universal-access {
        font-size: 3.7rem;
        margin: 0;
    }

    .choose-language {
        justify-content: flex-end;
    }

    select {
        margin: 40px 5px 2em 1.5em;
    }

    #firstPar {
        margin-top: 1.5em;
    }
}